<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item active">Inicio</li>
        </ol>
      </div>
      <h4 class="page-title">Inicio</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card widget-inline">
      <div class="card-body p-0">
        <div class="row no-gutters">
          <div class="col-sm-6 col-xl-3">
            <div class="card shadow-none m-0">
              <div class="card-body text-center">
                <i
                  class="mdi mdi-emoticon-devil-outline text-muted"
                  style="font-size: 24px"
                ></i>
                <h3>
                  <span>{{ demonios.length }}</span>
                </h3>
                <p class="text-muted font-15 mb-0">Demonios registrados</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="card shadow-none m-0">
              <div class="card-body text-center">
                <i
                  class="mdi mdi-map-marker text-muted"
                  style="font-size: 24px"
                ></i>
                <h3>
                  <span>{{ lugares.length }}</span>
                </h3>
                <p class="text-muted font-15 mb-0">Lugares registrados</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="card shadow-none m-0">
              <div class="card-body text-center">
                <i
                  class="mdi mdi-sword-cross text-muted"
                  style="font-size: 24px"
                ></i>
                <h3>
                  <span>{{ peleas.length }}</span>
                </h3>
                <p class="text-muted font-15 mb-0">Peleas registradas</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="card shadow-none m-0">
              <div class="card-body text-center">
                <i
                  class="mdi mdi-puzzle-outline text-muted"
                  style="font-size: 24px"
                ></i>
                <h3>
                  <span>{{ partes.length }}</span>
                </h3>
                <p class="text-muted font-15 mb-0">Partes registradas</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row w-100">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-4">Estado de los Demonios</h4>
        <div class="my-4 chartjs-chart" style="height: 202px">
          <canvas id="demonsChart"></canvas>
        </div>
        <div class="row text-center mt-2 py-2">
          <div class="col-6">
            <i class="mdi mdi-trending-up text-success mt-3 h3"></i>
            <h3 class="font-weight-normal">
              <span>{{ porcentajeD }}%</span>
            </h3>
            <p class="text-muted mb-0">Derrotados</p>
          </div>
          <div class="col-6">
            <i class="mdi mdi-trending-down text-danger mt-3 h3"></i>
            <h3 class="font-weight-normal">
              <span>{{ porcentajeI }}%</span>
            </h3>
            <p class="text-muted mb-0">No derrotados</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-3">Demonios Recientes</h4>

        <p>
          <b>{{ derrotados.length }}</b> demonios derrotados, de
          {{ derrotados.length + invictos.length }}
        </p>

        <div class="table-responsive">
          <table class="table table-centered table-nowrap table-hover mb-0">
            <tbody>
              <tr *ngFor="let item of demonios.slice(0, 4)">
                <td>
                  <h5 class="font-14 my-1">
                    <a href="javascript:void(0);" class="text-body">{{
                      item?.nombre
                    }}</a>
                  </h5>
                  <span class="text-muted font-13">{{
                    item?.fechaCreacion
                  }}</span>
                </td>
                <td>
                  <span class="text-muted font-13">Estado</span> <br />
                  <span
                    class="badge badge-danger-lighten"
                    *ngIf="!item?.derrotado; else elseblock"
                    >No derrotado</span
                  >
                  <ng-template #elseblock>
                    <span class="badge badge-success-lighten">Derrotado</span>
                  </ng-template>
                </td>
                <td>
                  <span class="text-muted font-13">Parte</span>
                  <h5 class="font-14 mt-1 font-weight-normal">
                    {{ item?.parte?.nombre }}
                  </h5>
                </td>
                <td>
                  <span class="text-muted font-13">Lugar</span>
                  <h5 class="font-14 mt-1 font-weight-normal">
                    {{ item?.lugar?.nombre }}
                  </h5>
                </td>
                <td class="table-action" style="width: 90px">
                  <a href="javascript: void(0);" class="action-icon">
                    <i class="mdi mdi-pencil"></i
                  ></a>
                  <a href="javascript: void(0);" class="action-icon">
                    <i class="mdi mdi-delete"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end table-responsive-->
      </div>
      <!-- end card body-->
    </div>
    <!-- end card -->
  </div>
  <!-- end col-->
</div>
