<div class="navbar-custom">
  <ul class="list-unstyled topbar-right-menu float-right mb-0">
    <li class="dropdown notification-list d-lg-none">
      <a
        href="#"
        class="nav-link dropdown-toggle arrow-none"
        data-toggle="dropdown"
        role="button"
        aria-expanded="false"
      >
        <i class="dropicons-search noti-icon"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
        <form class="p-3">
          <input type="text" placeholder="Buscar..." class="form-control" />
        </form>
      </div>
    </li>
  </ul>
</div>
