<div class="left-side-menu left-side-menu-detached">
  <ul id="metismenu" class="metismenu side-nav">
    <li class="side-nav-title side-nav-item">Navegación</li>
    <li class="side-nav-item">
      <a [routerLink]="['']" class="side-nav-link">
        <i class="uil-home-alt"></i>
        <span>Inicio</span>
      </a>
    </li>
    <li class="side-nav-title side-nav-item">Demonios</li>
    <li class="side-nav-item">
      <a [routerLink]="['/demonios']" class="side-nav-link">
        <i class="mdi mdi-emoticon-devil-outline"></i>
        <span>Ver todos los demonios</span>
      </a>
    </li>
    <li class="side-nav-item">
      <a href="javascript: void(0);" class="side-nav-link">
        <i class="mdi mdi-emoticon-devil-outline"></i>
        <span>Registrar demonio</span>
      </a>
    </li>
    <li class="side-nav-title side-nav-item">Lugares</li>
    <li class="side-nav-item">
      <a href="javascript: void(0);" class="side-nav-link">
        <i class="mdi mdi-map-marker"></i>
        <span>Registrar lugares</span>
      </a>
    </li>
    <li class="side-nav-item">
      <a href="javascript: void(0);" class="side-nav-link">
        <i class="mdi mdi-map-marker"></i>
        <span>Ver lista de lugares</span>
      </a>
    </li>
    <li class="side-nav-title side-nav-item">Peleas</li>
    <li class="side-nav-item">
      <a href="javascript: void(0);" class="side-nav-link">
        <i class="mdi mdi-sword-cross"></i>
        <span>Registrar pelea</span>
      </a>
    </li>
    <li class="side-nav-item">
      <a href="javascript: void(0);" class="side-nav-link">
        <i class="mdi mdi-sword-cross"></i>
        <span>Ver registro de peleas</span>
      </a>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>
