<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">Inicio</li>
          <li class="breadcrumb-item active">Error 404</li>
        </ol>
      </div>
    </div>
    <h4 class="page-title">Error 404</h4>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-4">
    <div class="text-center">
      <img
        src="../../../assets/images/file-searching.svg"
        height="100"
        alt="Página no encontrada"
      />
      <h1 class="text-error mt-4">404</h1>
      <h4 class="text-uppercase text-danger mt-3">Página no encontrada</h4>
      <p class="text-muted mt-3">
        Parece que te metiste en un callejón sin salida, Hyakkimaru. Sin
        embargo, puedes escapar con el siguiente botón.
      </p>
      <button class="btn btn-info mt-3" [routerLink]="['/']">
        <i class="mdi mdi-reply"></i>
        Regresar
      </button>
    </div>
  </div>
</div>
